# Python kurs

## Spis treści:
- 1 Sytax
    - 1.1 Instrukcje sterujące
        - 1.1.1 if, elif, else
        - 1.1.2 pętla for
        - 1.1.3 pętla while
    - 1.2 Operacje na tablicach
        - 1.2.1 range
        - 1.2.2 len
        - 1.2.3 jeszcze raz for
        - 1.2.4 enumarate
        - 1.2.5 append, pop
    - 1.3 Operacje na stringach
    - 1.4 Zmienne
        - 1.4.1 Rzutowanie
        - 1.4.2 input
        - 1.4.3 Działanie arytmetyczne
    - 1.5 Biblioteki
        - 1.5.1 math
        - 1.5.2 from ... import
        - 1.5.3 ... as
    - 1.6 Pliki
        - 1.6.1 open, close
        - 1.6.2 for ...
        - 1.6.3 with

## 1 Syntax

### 1.1 Instrukcje sterujące

#### 1.1.1 if, elif, else

In [1]:
liczba = 15

In [2]:
if liczba < 10:
    print("mniejsza niż 10")
elif liczba >= 10 and liczba < 20:
    print("między 10 i 20")
else:
    print("większe niż dziesięć")

między 10 i 20

#### 1.1.2 pętla for

In [3]:
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

#### 1.1.3 pętla while

### 1.2 Operacje na tablicach

In [4]:
tab = [1, 2, 'napis', True, 3.14159] # lista - domyślna znana tablica
uczniowie = {
    "Adam": "Tworzowski",
    2: 4
} # słownik - podobny do obiektu w js. pary klucz-wartość
krotka = (1, 2, "nie zmodywfikujesz") # działa jak lista, ale nie zmodyfikujesz

#### 1.2.1 range

In [5]:
start = 0 # domyślna wartość
stop = 10 # argument obowiązkowy
skok = 1 # domyślna wartość

In [6]:
print(range(start, stop, skok))
print(range(start, stop))
print(range(stop))
print(list(range(stop))) # aby wypisać range musze zrobić konwersję na listę

range(0, 10)
range(0, 10)
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 1.2.2 len

In [7]:
len(tab)

5

#### 1.2.3 jeszcze raz for

In [8]:
for key in uczniowie:
    print(uczniowie[key])

Tworzowski
4

In [9]:
for (key, value) in uczniowie.items():
    print(f"{key} -> {value}")

Adam -> Tworzowski
2 -> 4

#### 1.2.4 enumarate

In [10]:
start = 0 # domyślna wartość

In [11]:
for (index, value) in enumerate(tab, start):
    print(f"{index} -> {value}")

0 -> 1
1 -> 2
2 -> napis
3 -> True
4 -> 3.14159

#### 1.2.5 append, pop

In [12]:
example = [2, 4, 6]
tab = []
for i in example:
    tab.append(i**2)

tab

[4, 16, 36]

In [13]:
index = 1 # domyślnie pop usuwa ostatni element

In [14]:
tab = [1, "to zostanie usuniete", 2]
tab.pop(index)
usunięty = example.pop() # example to [2, 4, 6]
print(tab)
print(usunięty, example)

[1, 2]
6 [2, 4]

### 1.3 Zmienne

#### 1.3.1 Rzutowanie

In [15]:
strPi = "3.14159"

In [16]:
floatPi = float(strPi)
floatPi

3.14159

In [17]:
int(strPi)

ValueError: invalid literal for int() with base 10: '3.14159'

In [18]:
intPi = int(floatPi)
intPi

3

In [19]:
print(type(strPi), type(floatPi), type(intPi))

<class 'str'> <class 'float'> <class 'int'>

#### 1.3.2 input

In [20]:
x = input("Podaj liczbe: ")
(x, type(x))

Podaj liczbe: 3

('3', str)

input wszystko interbpretuje jako napis. Aby mieć liczbę:

In [21]:
x = int(input("Podaj liczbe: "))
(x, type(x))

Podaj liczbe: 3

(3, int)

#### 1.3.3 Działania arytmetyczne

In [22]:
print(3/2)
print(3//2) # dzielenie całkowite

1.5
1